### PHP ###
composer.phar
vendor/
build/
akamai-open-edgegrid-client*.phar

### IntelliJ ###
*.iml
.idea/
*.ipr
*.iws

### OS X ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
