{
  "alias": "akamai-open-edgegrid-client.phar",
  "algorithm": "SHA512",
  "directories": [
    "src",
    "vendor/akamai-open/edgegrid-auth/src"
  ],
  "files": [
    "LICENSE",
    "README.md",
    "CHANGELOG.md"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": [
        "bin",
        "docs",
        "examples",
        "Tests",
        "tests",
        "tools"
      ],
      "in": "vendor"
    }
  ],
  "compression": "BZ2",
  "bootstrap": "build/phar/bootstrap.php",
  "git-version": "package_version",
  "output": "akamai-open-edgegrid-client.phar",
  "stub": "build/phar/stub.php"
}
