<?xml version="1.0" encoding="utf-8" ?>
<phpdox xmlns="http://xml.phpdox.net/config" silent="false">
    <project name="Akamai {OPEN} Auth for PHP" source="${basedir}/src" workdir="${basedir}/build/phpdox/xml">
        <collector publiconly="false" backend="parser" encoding="auto">
            <include mask="*.php" />
            <exclude mask="" />
            <inheritance resolve="true" />
        </collector>
        <generator output="${basedir}">
            <enrich base="${basedir}/build">
                <source type="phploc">
                    <file name="phploc.xml" />
                </source>
                <source type="phpunit">  
                     <coverage path="coverage/xml" /> 
                     <filter directory="${phpDox.project.source}" />
                </source>
                <source type="checkstyle">
                    <file name="phpcs.xml" />
                </source>
            </enrich>
            <build engine="html" enabled="true" output="docs">
                <template dir="${phpDox.home}/templates/html" />
                <file extension="html" />
            </build>
        </generator>
    </project>
</phpdox>
